<div class="jumbotron">
  <h2>Persons</h2>
</div>

<div class="row">
  <div class="col-sm-12">
    <ul class="nav nav-tabs">
      <li data-ui-sref-active="active"><a data-ui-sref="persons.overview">Overview</a></li>
      <li data-ui-sref-active="active"><a data-ui-sref="persons.generateDemoData">Generate demo data</a></li>
      <li data-ui-sref-active="active"><a data-ui-sref="persons.list">List</a></li>
      <li data-ui-sref-active="active"><a data-ui-sref="persons.add">+ Add</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="col-md-12" data-ui-view></div>
  </div>
</div>
